{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
<div class="view-filters">
  <div class="form--inline clearfix row">
    {{ form.country }}
    {{ form.city }}
    {{ form.p_code }}
    {{ form.actions }}
  </div>
</div>

<div class="result-message"></div>

<div class="result-message-yaml"></div>